*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass{
    display: flex;
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.4)
    );
    border-radius: 20px; 
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.right-circle, .left-circle{
    background: white;
    height: 15rem;
    width: 15rem;
    position: absolute;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.1)
    );
    border-radius: 50%;
}

.right-circle{
    top: 5%;
    right: 10%;
} 

.left-circle{
    bottom: 5%;
    left: 10%;
}

.sidenav{
    flex: 1;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.4)
    );
    border-radius: 20px;
    padding: 2rem;
}
.content-view{
    flex: 3;
    padding: 2rem;
}

h3{
    color: #426696;
    opacity: 0.8;
}