<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./styles.css">
    <title> Professional Layout </title>
</head>

<body>
    <div id="globalContainer" class="global-container">
        <header>
            <nav>
                <h3> Menu </h3>
            </nav>
        </header>
        <main>
            <section class="page">
                <div
                    id="professionalDetails" 
                    class="professional-details">
                    <h1 id="professionalName"> Queen Madonna </h1>
                    <h2 id="professionalSub"> Pop Singer </h2>
                    <p id="professionalDate"> 17/04/2021 </p>
                </div>
                <div 
                    id="professionalSpotLight"
                    class="professional-spotlight">
                    <img class="professional-spotlight-left" src="./assets/model-leftside.jpg" alt="model">
                    <img class="professional-spotlight-right" src="./assets/model-rightside.png" alt="model">
                </div>
                <div class="page-nav">
                <div>
                    <h3> Madonna </h3>
                    <svg class="nav-anchor active" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="white"></circle>
                    </svg>                
                </div>
                <div>
                    <h3> Britney Spears </h3>
                    <svg class="nav-anchor" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="white"></circle>
                    </svg>                
                </div>
                <div>
                    <h3> Kali Uchis </h3>
                    <svg class="nav-anchor" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="white"></circle>
                    </svg>                
                </div>
            </div>
            </section>            
        </main>
    </div>
    <script src="spript.js"></script>
</body>

</html>